In [2]:
import pandas as pd

In [3]:
filename ='FSC_Time_Table__List_of_Courses_Fall_2023_v1.1_BtCb3Zv (1).xlsx'

In [5]:
time_table = pd.read_excel(filename)

In [6]:
time_table.head()

,FAST School of Computing TIME TABLE Fall 2023 <v1.1>,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82
0,Color Codes,NaN,NaN,NaN,NaN,BDS-2022,BDS-2023,NaN,NaN,BDS-2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Periods,NaN,10,20.0,30.0,NaN,40,50.0,60.0,10,...,50.0,60.0,10,20.0,30.0,40.0,50.0,60.0,30,No. of Sessions
2,Days,Room,8:00 a.m.,NaN,NaN,NaN,NaN,NaN,NaN,9:00 a.m.,...,NaN,NaN,8:00 p.m.,NaN,NaN,NaN,NaN,NaN,9:00 p.m.,Room Wise
3,Monday Monday,Seminar Hall,NaN,NaN,NaN,NaN,Data Structures (BDS-3B),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,CS-2,NaN,NaN,NaN,NaN,Fund. of Computer Vision (BCS-7B),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN