In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
dataset = pd.read_csv('Mall_Customers.csv')

In [21]:
def euclidean_dist(x1, x2):
    return np.sqrt(np.sum((x1 - x2) ** 2))

In [26]:
def agglomerative_clustering(X, k):
    # Initialize each point as a separate cluster
    clusters = []
    for i in range(len(X)):
        clusters.append([i])
    
    # Merge clusters until only k clusters remain
    while len(clusters) > k:
        # Find the two closest clusters
        min_dist = np.inf
        for i in range(len(clusters)):
            for j in range(i+1, len(clusters)):
                cluster_dist = 0
                for p1 in clusters[i]:
                    for p2 in clusters[j]:
                        cluster_dist += euclidean_dist(X[p1], X[p2])
                cluster_dist /= len(clusters[i]) * len(clusters[j])
                if cluster_dist < min_dist:
                    min_dist = cluster_dist
                    min_i, min_j = i, j
        
        # Merge the two closest clusters
        clusters[min_i] += clusters[min_j]
        del clusters[min_j]
    
    # Assign cluster labels to each point
    labels = [-1] * len(X)
    for i, cluster in enumerate(clusters):
        for point in cluster:
            labels[point] = i
    
    return labels

In [27]:
data.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [ ]:
data = pd.read_csv('Mall_Customers.csv')

# Drop unnecessary columns

# Standardize the data
X = data[["Annual Income (k$)","Spending Score (1-100)"]].values

# Apply agglomerative clustering to the dataset
labels = agglomerative_clustering(X, k=5)

# Plot the results
plt.scatter(X[:, 0], X[:, 1], c=labels, cmap='viridis')
plt.show()