In [1]:
import pandas as pd

In [4]:
df = pd.read_excel("FSC.xlsx",header =True)

TypeError: Passing a bool to header is invalid. Use header=None for no header or header=int or list-like of ints to specify the row(s) making up the column names

In [5]:
df.head()

,FAST School of Computing TIME TABLE Spring 2024 <v1.1>,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81
0,Color Codes,NaN,NaN,NaN,NaN,BDS-2023,NaN,NaN,BDS-2022,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Periods,NaN,10,20.0,30.0,40,50.0,60.0,10,20.0,...,50.0,60.0,10,20.0,30.0,40.0,50.0,60.0,30,No. of Sessions
2,Days,Room,8:00 a.m.,NaN,NaN,NaN,NaN,NaN,9:00 a.m.,NaN,...,NaN,NaN,8:00 p.m.,NaN,NaN,NaN,NaN,NaN,9:00 p.m.,Room Wise
3,Monday Monday,Seminar Hall,NaN,NaN,NaN,Multivariate Calculus (BCS-2H),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NB-201,NaN,NaN,NaN,Database Systems (BCS-4F),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN