In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import pandas as pd
import time

In [4]:
s = Service("C:/Users/Hamza/Desktop/5th sem/DAV/chromedriver-win64/chromedriver.exe")

In [5]:
driver = webdriver.Chrome(service = s)

In [12]:
driver.get("https://www.youtube.com/@analogcourses1192/videos")

In [13]:
videos = driver.find_elements(By.CLASS_NAME, "style-scope ytd-rich-grid-media")

In [8]:
for video in videos:
    titles = driver.find_elements(By.XPATH,'//*[@id="video-title"]')
    views = driver.find_elements(By.XPATH,'//*[@id="metadata-line"]/span[1]')

In [9]:
l = len(videos)
l

0

In [11]:
for x in range(0,l):
    print(titles[x].text.strip(), " ", views[x].text.strip())

In [ ]:
driver.get("https://www.google.com/")

In [ ]:
search = driver.find_element(by=By.XPATH,value='//*[@id="APjFqb"]')

In [ ]:
search.send_keys("Selenium")
time.sleep(2)
search.send_keys(Keys.ENTER)

In [ ]:
driver.save_screenshot("article.png")

True

In [ ]:
driver.get("https://covid19.ncdc.gov.ng/")

In [ ]:
page = driver.find_element(By.XPATH, value= '/html/body/div[1]/div/div[1]/div[3]/div[1]/div/div[2]')

In [ ]:
covid = BeautifulSoup(page.get_attribute("outerHTML"), 'html.parser')

In [ ]:
table = covid.find('table')

In [ ]:
rows = table.find_all('tr')

In [ ]:
headers = rows[0]

In [ ]:
head = headers.find_all('th')

In [ ]:
titles = []
for i in head:
    title = i.text.strip()
    titles.append(title)

In [ ]:
titles

['States Affected',
 'No. of Cases (Lab Confirmed)',
 'No. of Cases (on admission)',
 'No. Discharged',
 'No. of Deaths']

In [ ]:
df = pd.DataFrame(columns = titles)

In [ ]:
df

Empty DataFrame
Columns: [States Affected, No. of Cases (Lab Confirmed), No. of Cases (on admission), No. Discharged, No. of Deaths]
Index: []

In [ ]:
for i in rows[1:]:
    data = i.find_all('td')
    row = [tr.text.strip() for tr in data]
    l = len(df)
    df.loc[l] = row

In [ ]:
df

,States Affected,No. of Cases (Lab Confirmed),No. of Cases (on admission),No. Discharged,No. of Deaths
0,Lagos,"104,286","1,143","102,372",771
1,FCT,"29,535",9,"29,277",249
2,Rivers,"18,112",-3,"17,960",155
3,Kaduna,"11,675",3,"11,583",89
4,Plateau,"10,365",4,"10,286",75
5,Oyo,"10,352",0,"10,150",202
6,Edo,"7,928",0,"7,606",322
7,Delta,"5,858",576,"5,170",112
8,Ogun,"5,810",11,"5,717",82
9,Kano,"5,429",11,"5,291",127
10,Ondo,"5,173",315,"4,749",109
11,Akwa Ibom,"5,010",6,"4,960",44
12,Kwara,"4,691",452,"4,175",64
13,Gombe,"3,313",8,"3,239",66
14,Osun,"3,311",29,"3,190",92
15,Enugu,"2,952",13,"2,910",29
16,Nasarawa,"2,853",469,"2,345",39
17,Anambra,"2,825",46,"2,760",19
18,Imo,"2,691",3,"2,630",58
19,Ekiti,"2,466",0,"2,438",28
20,Katsina,"2,418",0,"2,381",37
21,Benue,"2,317",88,"2,204",25
22,Abia,"2,263",0,"2,229",34
23,Ebonyi,"2,064",28,"2,004",32
24,Bauchi,"2,028",2,"2,002",24
25,Borno,"1,629",5,"1,580",44
26,Taraba,"1,517",32,"1,451",34
27,Bayelsa,"1,373",2,"1,343",28
28,Adamawa,"1,312",134,"1,140",38
29,Niger,"1,183",165,998,20
30,Cross River,947,0,922,25
31,Sokoto,822,0,794,28
32,Jigawa,669,2,649,18
33,Yobe,638,4,625,9
34,Kebbi,480,10,454,16
35,Zamfara,375,0,366,9
36,Kogi,5,0,3,2

In [ ]:
df.to_csv('covid.csv')

In [ ]:
driver.get("https://www.google.com/")
search = driver.find_element(by=By.XPATH,value='//*[@id="APjFqb"]')
time.sleep(2)
search.send_keys("Nike")
time.sleep(3)
search.send_keys(Keys.ENTER)

In [ ]:
driver.find_element(by=By.XPATH, value = '/html/body/div[6]/div/div[10]/div[1]/div[2]/div[2]/div/div/div[1]/div/div/div/div/div/div/div/div[1]/div/a/h3').click()

In [ ]:
driver.get("https://www.nike.com/w/baby-toddler-kids-shoes-2j488zv4dhzy7ok")

In [ ]:
while True:
    height = driver.execute_script("return document.body.scrollHeight")
    print(height)
    driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")
    time.sleep(3)
    h2 = driver.execute_script("return document.body.scrollHeight")

    if height == h2:
        break

5663
15454
25112
30467

In [ ]:
content = driver.find_element(by=By.XPATH, value='/html/body/div[4]/div/div/div[2]/div[4]/div/div[5]/div[2]/main/section/div')

In [ ]:
html = BeautifulSoup(content.get_attribute("outerHTML"), 'html.parser')

In [ ]:
all_products = html.find_all("div", class_="product-card__info disable-animations")

In [ ]:
names = []
colors = []
for product in all_products:
    name = product.find("div", class_="product-card__title")
    color = product.find("div", class_="product-card__product-count font-override__body1")
    names.append(name.text.strip())
    colors.append(color.text.strip())

In [ ]:
df2 = pd.DataFrame()

In [ ]:
df2["Product Name"] = names
df2["Color Options"] = colors

In [ ]:
df2

             Product Name Color Options
0     Nike Blazer Mid '77       1 Color
1        Nike Air Max 270      7 Colors
2        Nike Air Max 270      3 Colors
3        Nike Force 1 Low      5 Colors
4         Nike Force 1 LE      2 Colors
..                    ...           ...
84      Jordan Max Aura 5       1 Color
85  Nike Sunray Protect 2      2 Colors
86                Tatum 1       1 Color
87   Nike Flex Advance SE       1 Color
88     Nike Air Max 97 SE       1 Color

[89 rows x 2 columns]

In [ ]:
df2.to_csv("nike.csv")