In [38]:
#Q1 Functions

def loadfile(filename):
  contact =[]
  # if filename not found
  if not os.path.exists(filename):
    print("File miss error")
  fileopen = open(filename,"r")
  # filetxt = fileopen.read()
  for e in fileopen:
    entry = e.strip().split(',')
    contact.append(entry)
  return contact
def Add_contact(contacts):
    name = str(input("Enter name"))
    phone = str(input("Phone Number"))
    email = str(input("Enter Email"))

    for i in contacts:
      if name.lower() in i:
        print("Found in list")
        return
    contacts.append([name,phone,email])

    print("Entry Inserted")

def search_contact(contacts,name):
  for n in contacts:
      if name.lower() == n[0].lower():
        return (n)
        print("FOund")
  print("No entry found")

def delete_contact(contacts,name):
  for n in contacts:
    if name.lower() in n:
      contacts.remove(n)
      print("Entry deleted")
      return
  print("No entry found")

def list_contact(contacts):
  sorted(contacts,key=lambda entry:entry[0])
  print(contacts,end="\n")

def save_contact(contacts,filename):
  with open(filename,'w') as file:
    for contact in contacts:
      file.write(', '.join(contact) + '\n')

In [15]:
file_contacts = "contacts.txt"

In [40]:
contacts = loadfile(file_contacts)
contacts

[['John Doe', ' 1234567890', ' johndoe@example.com'],
 ['Jane Smith', ' 2345678901', ' janesmith@example.com'],
 ['Alex Johnson', ' 3456789012', ' alexjohnson@example.com'],
 ['hamza', ' 131342', ' khan@.com']]

In [17]:
Add_contact(contacts)

Entry Inserted

In [18]:
contacts

[['John Doe', '1234567890', 'johndoe@example.com'],
 ['Jane Smith', '2345678901', 'janesmith@example.com'],
 ['Alex Johnson', '3456789012', 'alexjohnson@example.com'],
 ['hamza', '131342', 'khan@.com']]

In [27]:
print(search_contact(contacts,"hamza"))

['hamza', '131342', 'khan@.com']

In [ ]:
delete_contact(contacts,"hamza")

In [ ]:
contacts

[['John Doe', '1234567890', 'johndoe@example.com'],
 ['Jane Smith', '2345678901', 'janesmith@example.com'],
 ['Alex Johnson', '3456789012', 'alexjohnson@example.com']]

In [37]:
list_contact(contacts)

[['John Doe', '1234567890', 'johndoe@example.com'], ['Jane Smith', '2345678901', 'janesmith@example.com'], ['Alex Johnson', '3456789012', 'alexjohnson@example.com'], ['hamza', '131342', 'khan@.com']]

In [39]:
save_contact(contacts,file_contacts)

In [44]:
import pandas as pd
contacts_df = pd.DataFrame(contacts,columns=['Name','Phone','Email'])

In [45]:
contacts_df

           Name        Phone                     Email
0      John Doe   1234567890       johndoe@example.com
1    Jane Smith   2345678901     janesmith@example.com
2  Alex Johnson   3456789012   alexjohnson@example.com
3         hamza       131342                 khan@.com

In [46]:
contacts_df.to_csv('Contacts_upated.csv')

## Q2

In [80]:
def eng_alpha(filename):
    counter = {}
    total_count=0
    with open(filename, 'r',encoding='cp1252',errors="ignore") as file:
        data = file.read().lower().split()
        print(data)
        new_data=[]
        
        for word in data:
            for w in word:
                if w in [0,1,2,3,4,5,6,7,8,9]:
                    continue
            
            if word.isalpha() and word not in counter:
                counter[word] = 1
                total_count+=1
            elif word in counter:
                counter[word]+=1
                total_count+=1
            
            else:
                continue
    probability={}
    for word in data:
        if word in counter:
            probability[word] = counter[word]/total_count
    return counter,probability,total_count

eng_file = "data.txt"
alphabet_count,probability,tc = eng_alpha(eng_file)
print("Number of English alphabetic characters:", alphabet_count," with prob ",probability,tc)

['hello', 'to', '3v3ry', 'body.', 'yoursâ€™s', 'sincerely.', 'hello', 'i', 'am', 'ali.', 'i', 'am', 'no', 'body.']
Number of English alphabetic characters: {'hello': 2, 'to': 1, 'i': 2, 'am': 2, 'no': 1}  with prob  {'hello': 0.25, 'to': 0.125, 'i': 0.25, 'am': 0.25, 'no': 0.125} 8

In [123]:
import string

def getWordsList(filename):
    words_list = []
    size=0
    with open(filename, 'r', encoding='cp1252', errors="ignore") as file:
        data = file.read().lower().split()
        for word in data:
            for i in word:
                if i.isdigit() or i in [' ','.','`','^','™'] or i in[0,1,2,3,4,5,6,7,8,9] or i in string.punctuation:
                    continue
                
                elif i.isalpha():
                    words_list.append(word)
                    size+=1
    return words_list,size

def printWord(words_list,size):
    count_word={}
    for w in words_list:
        if w not in count_word:
            count_word[w]=1
        elif w in count_word:
            count_word[w]+=1
    
    total_count= size
    sorted_words = sorted(count_word.items(), key=lambda x: x[1], reverse=True)
    top_100_words = sorted_words[:100]
    
    for word, count in top_100_words:
        probability = count_word[word] / total_count
        print(f"Word: {word}, Count: {count}, Probability: {probability}")

eng_file = "data.txt"
words_list,size = getWordsList(eng_file)
printWord(words_list,size)

Word: hello, Count: 10, Probability: 0.2
Word: sincerely., Count: 9, Probability: 0.18
Word: body., Count: 8, Probability: 0.16
Word: yoursâ€™s, Count: 7, Probability: 0.14
Word: am, Count: 4, Probability: 0.08
Word: 3v3ry, Count: 3, Probability: 0.06
Word: ali., Count: 3, Probability: 0.06
Word: to, Count: 2, Probability: 0.04
Word: i, Count: 2, Probability: 0.04
Word: no, Count: 2, Probability: 0.04
['hello', 'hello', 'hello', 'hello', 'hello', 'to', 'to', '3v3ry', '3v3ry', '3v3ry', 'body.', 'body.', 'body.', 'body.', 'yoursâ€™s', 'yoursâ€™s', 'yoursâ€™s', 'yoursâ€™s', 'yoursâ€™s', 'yoursâ€™s', 'yoursâ€™s', 'sincerely.', 'sincerely.', 'sincerely.', 'sincerely.', 'sincerely.', 'sincerely.', 'sincerely.', 'sincerely.', 'sincerely.', 'hello', 'hello', 'hello', 'hello', 'hello', 'i', 'am', 'am', 'ali.', 'ali.', 'ali.', 'i', 'am', 'am', 'no', 'no', 'body.', 'body.', 'body.', 'body.']